<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Team Copilot</title>
        <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='ui/css/home.css') }}">
    </head>
    <body>
        <h1>Team Copilot</h1>
        <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', path='ui/js/home.js') }}"></script>
    </body>
</html>
